!!!
%html
  %head
    %title Cinemagraphs
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ href: 'https://fonts.googleapis.com/css?family=Raleway:200', rel: 'stylesheet', type: 'text/css' }
  %body
    = audio_tag('stay_awake.mp3', autoplay: true)
    = yield
